* {
    margin: 0;
    padding: 0;
}

.main {
    width: 80%;
    background-color: #fefead;
}

.leftSide {
    width: 36%;
    border: 50px solid #ff0000;
    outline: 2px solid #000000;
}

.firstTable {
    border: 2px solid #000000;
    border-collapse: collapse;
    outline: 2px solid #000000;
}

.bg {
    background-color: #008000;
}

.main1 {
    width: 100%;
    height: 400px;
    border: 2px solid #000000;
    border-collapse: collapse;
}

.rightSide {
    width: 36%;
    border: 50px solid #008000;
    outline: 2px solid #000000;
}

.main2 {
    width: 100%;
    height: 200px;
    border: 3px solid #000000;
    border-collapse: collapse;
    outline: 2px solid #000000;
}

.secondTable {
    width: 10%;
    height: 50px;
    border: 2px solid #000000;
    border-collapse: collapse;
    outline: 2px solid #000000;
}

.bg1 {
    background-color: #ff0000;
}

.ctr {
    width: 20%;
    height: 200px;
    border: 2px solid black;
}

div {
    width: 0px;
    height: 0px;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;

}

.d1 {
    border-top: 100px solid #008000;
    position: absolute;
    bottom: 163px;
    left: 405px;
}

.d2 {
    border-top: 100px solid #0000ff;
    -webkit-transform: rotate(180deg);
    position: absolute;
    bottom: 63px;
    left: 405px;
}

.d3 {
    border-top: 100px solid #ff0000;
    -webkit-transform: rotate(270deg);
    position: absolute;
    right: 715px;
    top: 460px;
}

.d4 {
    border-top: 100px solid #ffff00;
    -webkit-transform: rotate(90deg);
    position: absolute;
    top: 460px;
    left: 462px;
}

.leftSide2 {
    width: 36%;
    border: 50px solid #0000ff;
    outline: 2px solid #000000;
}

.bg2 {
    background-color: #0000ff;
}

.rightSide2 {
    width: 36%;
    border: 50px solid #ffff00;
    outline: 2px solid #000000;
}

.bg3 {
    background-color: #ffff00;
}
.dot {
    height: 50px;
    width: 50px;
    background-color: #ff0000;
    border-radius: 50%;
    display: inline-block;
    border: 2px solid #000000;
    position: relative;
    bottom: 100px;
    right: 40px;
 }
 .dot1 {
    height: 50px;
    width: 50px;
    background-color: #ff0000;
    border-radius: 50%;
    display: inline-block;
    border: 2px solid #000000;
    position: relative;
    bottom: 158px;
    left: 90px; 
  }
  .dot2 {
    height: 50px;
    width: 50px;
    background-color: #ff0000;
    border-radius: 50%;
    display: inline-block;
    border: 2px solid #000000;
    position: relative;
    bottom: 72px;
    left: 90px;
  }
  .dot3 {
    height: 50px;
    width: 50px;
    background-color: #ff0000;
    border-radius: 50%;
    display: inline-block;
    border: 2px solid #000000;
    position: relative;
    bottom: 131px;
    right: 40px;
  }
  .dot4 {
    height: 50px;
    width: 50px;
    background-color: #008000;
    border-radius: 50%;
    display: inline-block;
    border: 2px solid #000000;
    position: relative;
    bottom: 100px;
    right: 40px;
 }
 .dot5 {
    height: 50px;
    width: 50px;
    background-color: #008000;
    border-radius: 50%;
    display: inline-block;
    border: 2px solid #000000;
    position: relative;
    bottom: 158px;
    left: 90px; 
  }
  .dot6 {
    height: 50px;
    width: 50px;
    background-color: #008000;
    border-radius: 50%;
    display: inline-block;
    border: 2px solid #000000;
    position: relative;
    bottom: 72px;
    left: 90px;
  }
  .dot7 {
    height: 50px;
    width: 50px;
    background-color:#008000;
    border-radius: 50%;
    display: inline-block;
    border: 2px solid #000000;
    position: relative;
    bottom: 131px;
    right: 40px;
  }
  .dot8 {
    height: 50px;
    width: 50px;
    background-color: #0000ff;
    border-radius: 50%;
    display: inline-block;
    border: 2px solid #000000;
    position: relative;
    bottom: 100px;
    right: 40px;
 }
 .dot9 {
    height: 50px;
    width: 50px;
    background-color:#0000ff;
    border-radius: 50%;
    display: inline-block;
    border: 2px solid #000000;
    position: relative;
    bottom: 158px;
    left: 90px; 
  }
  .dot10 {
    height: 50px;
    width: 50px;
    background-color: #0000ff;
    border-radius: 50%;
    display: inline-block;
    border: 2px solid #000000;
    position: relative;
    bottom: 72px;
    left: 90px;
  }
  .dot11 {
    height: 50px;
    width: 50px;
    background-color:#0000ff;
    border-radius: 50%;
    display: inline-block;
    border: 2px solid #000000;
    position: relative;
    bottom: 131px;
    right: 40px;
  }
  .dot12 {
    height: 50px;
    width: 50px;
    background-color: #ffff00;
    border-radius: 50%;
    display: inline-block;
    border: 2px solid #000000;
    position: relative;
    bottom: 100px;
    right: 40px;
 }
 .dot13 {
    height: 50px;
    width: 50px;
    background-color: #ffff00;
    border-radius: 50%;
    display: inline-block;
    border: 2px solid #000000;
    position: relative;
    bottom: 158px;
    left: 90px; 
  }
  .dot14 {
    height: 50px;
    width: 50px;
    background-color: #ffff00;
    border-radius: 50%;
    display: inline-block;
    border: 2px solid #000000;
    position: relative;
    bottom: 72px;
    left: 90px;
  }
  .dot15 {
    height: 50px;
    width: 50px;
    background-color:#ffff00;
    border-radius: 50%;
    display: inline-block;
    border: 2px solid #000000;
    position: relative;
    bottom: 131px;
    right: 40px;
  }